<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Lxy蜗居网 - 导航</title>
		<link rel="stylesheet" type="text/css" href="../css/myCss.css"/>
		<link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		
	</head>

	<body style="width: 100%; margin-top: 0px; overflow:auto">
		<div style="background-color:deepskyblue;	 width: 1200px; min-height: 800px; margin: 0 auto;">
			<label style="font-size: 60px;color: green;">Lxy蜗居网</label>
			<hr style="border-width: 20px;" />
			<div style="width: 800px;margin: 0 auto;padding-top: 150px;">
				<a href=""><img src="../img/seller.png" alt="..." class="img-circle"></a>
				<a href="login.html"><img src="../img/buyer.png" alt="..." class="img-circle"></a>
				<a href=""><img src="../img/admin.png" alt="..." class="img-circle"></a>
			</div>
		</div>
	</body>

</html>